{% extends "base.html" %} {% block body %}
<style>

</style>
<div class="row">
    <div class="card" style="height: 18rem; width: 18rem; margin: 10px">
        <img class="card-img-top"  style="height: 50%;" src="https://cdn.stocksnap.io/img-thumbs/960w/isometric-island_QIHKAT5PBZ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">book.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="height: 18rem; width: 18rem; margin: 10px">
        <img class="card-img-top"  style="height: 50%;" src="https://cdn.stocksnap.io/img-thumbs/960w/isometric-island_QIHKAT5PBZ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">book.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="height: 18rem; width: 18rem; margin: 10px">
        <img class="card-img-top"  style="height: 50%;" src="https://cdn.stocksnap.io/img-thumbs/960w/isometric-island_QIHKAT5PBZ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">book.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="height: 18rem; width: 18rem; margin: 10px">
        <img class="card-img-top"  style="height: 50%;" src="https://cdn.stocksnap.io/img-thumbs/960w/isometric-island_QIHKAT5PBZ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">book.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
<div class="row">
    <div class="card" style="height: 18rem; width: 18rem; margin: 10px marg">
        <img class="card-img-top"  style="height: 50%;" src="https://cdn.stocksnap.io/img-thumbs/960w/isometric-island_QIHKAT5PBZ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">book.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="height: 18rem; width: 18rem; margin: 10px">
        <img class="card-img-top"  style="height: 50%;" src="https://cdn.stocksnap.io/img-thumbs/960w/isometric-island_QIHKAT5PBZ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">book.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="height: 18rem; width: 18rem; margin: 10px">
        <img class="card-img-top"  style="height: 50%;" src="https://cdn.stocksnap.io/img-thumbs/960w/isometric-island_QIHKAT5PBZ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">book.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="height: 18rem; width: 18rem; margin: 10px">
        <img class="card-img-top"  style="height: 50%;" src="https://cdn.stocksnap.io/img-thumbs/960w/isometric-island_QIHKAT5PBZ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">book.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
{% endblock body %} {% block title %} library {% endblock title %}library
