<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<style>
    .body{
            background-size: cover; /* Cover the entire background */
            background-position: center; /* Center the image */
            background-attachment: fixed; /* Fix the image in place */
            /* Optionally, you can add more styles like background-repeat, etc. */
        }
</style>
<body style="background-image: url(https://unsplash.com/photos/brown-rock-formation-under-blue-sky-CSpjU6hYo_0);">

    
</body>
</html>